  body 
  {
  	background : linear-gradient(#b2edf4,#084775 );
  	color : black;
  }



   p {
   	font-size: 14px; /* tous les paragraphes ont une taille de 14 pixels */
   	font-family: "Comic Sans MS", sans-serif; /*police du texte (si ne trouve pas "Comic sans ms", mettra la police par défaut "sans-serif") */
   	text-align: justify; /*alignement des paragraphes : justifié */
   	
   }

   .titre {
	 font-size: xx-large; /* taille du titre "Bienvenu"*/
	 font-family: Impact, sans-serif;
	 border : solid; 
	 border-radius: 10px;
	 color : #084775;

   }




.imageFlottante 
{
	float : left; /* l'image d'id "imageFlottante" sera à gauche du texte écrit à la suite de la balise <img/> */
}

.finDuTexteEntourantLImage
{
	clear : left; /* indique qu'à partir du paragraphe d'id "finDuTexteEntourantLImage" , le texte reprend en dessous de l'image */
}

.enTete
{
	width: 100%;
	margin: auto; 
	margin-bottom: 25px;
}

.Menu 
{
   
   color : white;

   display: flex;
   flex-direction: column;
   width: 100%
}

.menuGauche
{
    background-color: white;
    flex-direction: column;
}

.elements /*éléments du menu*/
{
	margin : auto;

}



.td, .th /*toutes les cellules du tableaux + les en-têtes */ 
{
	background-color: #b2f4de;
	color : black;
	border : 1px black solid ;
 
}

.oceanstream 
{
	font-family: cursive;
	font-size: x-large;
	color: #1897a5;
}

.titreSection1, .titreSection2, .titreSection3, .titreSection4, .titreSection5
{
	font-size: large;
	font-weight: bold;
}

 .s1, .s2, .s3, .s4, .s5, .piedPage
{
	width: 100%;
	margin : auto; /*pour centrer le bloc*/
}

.s1, .s2, .s3, .s4, .s5
{
	margin-bottom: 25px; /* marges extérieures en bas*/

}







